* {
	transition: 400ms !important;
	padding: 0;
	margin: 0;
	text-decoration: none !important;
}

iframe {
	position: absolute;
	border: none;
	width: 100%;
	height: 100%;
}

body, .app {
	position: absolute;
	width: 100%;
	height: 100% !important;
  font-family: 'Roboto Mono', monospace;
  overflow-x: hidden !important;
}

header {
	z-index: 100;
	width: 100%;
	position: relative;
}

a, a:visited {
	color: #ff5e00;
}

main {
	position: relative;
	width: 100%;
	height: 100%;
}

main > * {
	padding-top: 1.5rem;
}

fullscreen > iframe {
	position: absolute;
	top: 0;
	z-index: 9999;
	animation: iframeIn 200ms;
}
@keyframes iframeIn {
	0% {
  	left: 100%;
  }

  100% {
		left: 0;
  }
}

fullscreen > iframe.remove {animation: iframeOut 200ms;}
@keyframes iframeOut {
	0% {
  	left: 0;
  }

  100% {
		left: 100%;
  }
}

#loading {
	background-image:url(../img/loading.svg);
	background-repeat: no-repeat;
	margin:auto;
	width:200px;
	height:100px;
}

#intro {
	position: absolute;
	width: 100%;
}

.btn {
	background-color: transparent;
	border: 1px solid #614998 !important;
  padding: 10px !important;
  margin: 10px !important;
	color: #614998 !important;
  border-radius: 5px !important;
  min-width: 130px !important;
	font-weight: 500;
}

.btn:hover {
	cursor: pointer;
	color: #fff !important;
	background-color: #614998 !important;
}

#navbar {
  padding: 0 !important;
	margin-bottom: 30px !important;
	position: relative;
}

/* .navbar::before {
	transform: translate(-12px);
	z-index: -10;
	content: '';
	position: absolute;
 	bottom: -30px;
	left: 0;
	right: -12px;
	height: 60px;
	background-size: 24px 48px;
	background-repeat: repeat-x;
	background-image: -webkit-linear-gradient(45deg, transparent 34%, #2F3136 34%, #2F3136 66%, transparent 66%), -webkit-linear-gradient(315deg, transparent 34%, #2F3136 34%, #2F3136 66%, transparent 66%);
	background-image: -moz-linear-gradient(45deg, transparent 34%, #2F3136 34%, #2F3136 66%, transparent 66%), -moz-linear-gradient(315deg, transparent 34%, #2F3136 34%, #2F3136 66%, transparent 66%);
	background-image: linear-gradient(45deg, transparent 34%, #2F3136 34%, #2F3136 66%, transparent 66%), linear-gradient(315deg, transparent 34%, #2F3136 34%, #2F3136 66%, transparent 66%);
} */

.navbar-brand {
	margin-left: 1rem;
}

.navbar-brand img {
	margin-right: 1.5rem;
}

.navbar-nav {
	font-family: arial;
}

.dropdown-menu {
	opacity: 0;
	transition: 400ms;
}

.settings > div.show {
	display: block !important;
	opacity: 1 !important;
	animation: show 200ms;
}
@keyframes show {
	0% {
    opacity: 0;
    transform-origin: 100% 0%;
    transform: scale(.2);
  }

  100% {
    opacity: 1;
    transform-origin: 100% 0%;
    transform: scale(1);
  }
}

.settings > div:not(.show) {
	animation: vanish 200ms;
}
@keyframes vanish {
	0% {
		display: block;
    opacity: 1;
  }
  100% {
		display: none;
    opacity: 0;
  }
}

.dropdown-item {
	padding: .25rem 1rem !important;
}

.settings > .dropdown-toggle:after {
	display: none !important;
}

.settings > .dropdown-menu {
	top: 3px !important;
	right: 3px !important;
	border: none;
	border-radius: 2px !important;
	box-shadow: 0 0 15px rgba(0,0,0,.4);
}

header, nav {
  position: fixed;
  margin-bottom: 0px !important;
}

main {
  padding-top: 60px;
}

.disabled {
  color: #ccc !important;
}

.back {
  z-index: 1 !important;
}

.avatar {
	border-radius: 50%;
	object-fit: cover;
	width: 90px;
	height: 90px;
}